"*":
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-javascript-jsx"
      "vim-mode-plus"
      "nuclide"
    ]
    excludeVcsIgnoredPaths: true
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 84
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
  "file-watcher":
    autoReload: true
    includeCompareOption: false
  "find-and-replace":
    searchContextLineCountAfter: 3
    searchContextLineCountBefore: 3
  "language-babel":
    autoIndentJSX: true
    disableWhenNoBabelrcFileInPath: false
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
  "omni-ruler":
    columns: [
      "84"
      "150"
    ]
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".js.jsx.source":
  editor:
    showInvisibles: true
    softWrap: true
